body {
  height:100vh;
  width:100%;
  margin:0;
  background-image: url(images/wasd.jpg);
  background-repeat: repeat;
  background-size:10%;
  overflow: hidden;
}

#webgl {
  position: absolute;
  width: 50%;
  height: 50%;
  right:10px;
  top:10px;
}

.page {
  font-family: monospace;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.page>div {
  position: relative;
  left: -50%;
  width: 60vw;
  height: 100vh;
  padding: 20px;
  background-color: white;
}